/* -- Fonts --*/
$font-family: "Roboto", sans-serif;
/* -- Colors --*/

/* -- Headers --*/
$color-header: #242446;
$color-header--alt: #0364ff;

/* -- Text --*/
$color-text: #242446;
$color-text--white: #ffffff;
$color-text--blue: #0364ff;
$color-text--black: #000000;


/* -- Menu --*/
// $color-menu: #111111;
// $color-menu--hover: rgba(17, 17, 17, 0.6);
// $color-menu--active: rgba(17, 17, 17, 0.3);
// $color-menu-alt: #ffffff;
// $color-menu-alt--hover: rgba(255, 255, 255, 0.6);
// $color-menu-alt--active: rgba(255, 255, 255, 0.3);

/* -- Backgrounds --*/
$bg--main: #e5e5e5;
$bg--aside: #e5e5e5;
$bg--box: #e5e5e5;

/* -- Buttons --*/
$color-btn: #0364ff;
$tabs-color: #e9edfe;


/* -- Buttons-hover --*/

$hover-btn: rgb(1, 45, 95);

/* -- Buttons-hover-text --*/

$bg-btn: #ffffff;

// /* -- Main shadow --*/
$main-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

/* -- Borders --*/
// $color-border: #d9d9d9;
// $play-border: #01499b;
// $white-border: #ffffff;
// $calendar-border: #27aae1;
// $world-border: #f5483a;
